<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Scale Measurement Plots</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<style>
    html, body {
    height: 80%;
    width: 80%;
    }
body { font: 12px Arial;}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;

    stroke: #000;
}
.label {
font-weight: bold;
}

.tile {
shape-rendering: crispEdges;
}

</style>
</head>
<body>

<script src="https://d3js.org/d3.v4.min.js"></script>

<div>
    INSERTOTHERIMAGESHERE
</div>

</body>

</html>
